
/* RESET - NOT NECESSARY */
* { margin: 0; padding: 0; font-family: Verdana, sans-serif; font-size: 13px;}

/*select*/.replaced {
	/* display: none; */
	padding: 4px 10px;
	margin: 10px;
	float: left;
}

/* */
.custom-select {
	width: 150px;
	margin: 10px;
	border: 1px solid #ccc;
	float: left;
}

/* */
/*button*/.trigger {
	width: 100%;
	padding: 5% 3%;
	background: #e2e2e2;
	border: none;
	cursor: pointer;
}

/* */
/*ul*/.options {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}
	.options li {
		text-align: center;
	}

	.options .option {
		display: block;
		width: 94%;
		height: 90%;
		padding: 5% 3%;
		color: #000;
		text-decoration: none;
		background-color: transparent;
		border: none;
	}

/* */
.disabled {
	border: 1px solid #ccc;
}
	.disabled .trigger {
		cursor: default;
		color: #ccc;
		background-color: #f1f1f1;
		border-color: #f2f2f2;
	}

/* */
.selected { background-color: #0086f0;}
	.selected .option {color: #fff;}

/* */
.expanded {
	border: 1px solid #333;
}

	.expanded .options {
		display: block;
	}